<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="div" style="text-align: center;background-color: rgb(253, 105, 105);color: rgb(34, 32, 32);">
        <h1>Hello! <%= name%>
        </h1>
        <h2>Your otp is <%= otp%>
        </h2>
    </div>

</body>

</html>